/**
* Define variables
*/
:root {
    --border: #888888;
    --decor: #777777;
    --text: #141414;
    --text-secondary: #555555;
    --danger: #d62c1a;
    --danger--dark: #a82315;
}


/* modals styles */


body{
    background: #000000;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    color: #fff;
}
.modal {
    display: none;
    position: fixed; 
    padding-top: 5rem;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 200;
}
.modal-content {
    position: relative; 
    /* background-color: white; */
    padding: 20px; 
    margin: auto; 
    max-width: 420px;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}
.close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
}
.close-btn:hover {
    color: darkgray;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#game-menu.modal .modal-content {
    background-color: transparent;
}

#game-menu.modal .modal-content h5 {
    margin-top: 72px;
}

button {
    font-size: 0;
    width: 150px;
    height: 45px;
    border: none;
    background-color: transparent;
    margin-bottom: 25px;
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.start-game-btn {
    background-image: url('../images/gameElements/Game_Elements_Button_StartGame_off.svg'); 
}
.start-game-btn:hover,
.start-game-btn:focus {
    background-image: url('../images/gameElements/Game_Elements_Button_StartGame_on.svg'); 
}

.highscore-btn {
    background-image: url('../images/gameElements/Game_Elements_Button_HighScores_off.svg'); 
}

.highscore-btn:hover,
.highscore-btn:focus {
    background-image: url('../images/gameElements/Game_Elements_Button_HighScores_on.svg'); 
}

.options-btn {
    background-image: url('../images/gameElements/Game_Elements_Button_Options_off.svg'); 
}

.options-btn:hover,
.options-btn:focus {
    background-image: url('../images/gameElements/Game_Elements_Button_Options_on-05.svg'); 
}

#resume-game-btn {
    background-image: url('../images/gameElements/Game_Elements_Button_ReturnToGame_off.svg'); 
}

#resume-game-btn:hover,
#resume-game-btn:focus {
    background-image: url('../images/gameElements/Game_Elements_Button_ReturnToGame_on.svg'); 
}
.main-game-btn {
    background-image: url('../images/gameElements/Game_Elements_Button_BackToMain_off.svg'); 
}

.main-game-btn:hover,
.main-game-btn:focus {
    background-image: url('../images/gameElements/Game_Elements_Button_BackToMain_on.svg'); 
}

.restart-game-btn {
    background-image: url('../images/gameElements/Game_Elements_Button_StartNewGame_off.svg'); 
}

.restart-game-btn:hover,
.restart-game-btn:focus {
    background-image: url('../images/gameElements/Game_Elements_Button_StartNewGame_on.svg'); 
}

#pause-menu img {
    margin-bottom: 48px;
}

#game-options img {
    margin-bottom: 24px;
}

#end-game p,
.options-container {
    font-size: 1.4rem;
    padding: 2rem 0;
    border: 2px solid #ffffff80;
    border-radius: 13px;
    margin-bottom: 2rem;
}

.game-option {
    display: block;
    margin-bottom: 1.5rem;
}

.game-option input[type="checkbox"] {
    appearance: none;
    display: inline-block;
    background-image: url('../images/gameElements/Game_Elements_Options_Button_off.svg');
    width: 53px;
    height: 32px;
    vertical-align: middle;
}

.game-option input[type="checkbox"]:checked {
    background-image: url('../images/gameElements/Game_Elements_Options_Button_on.svg');
}

.game-option input[type="checkbox"]:disabled {
    opacity: 0.5;
}

/* pause button */

.pause-button {
    position: fixed;
    top: 11px;
    right: -11px;
    width: 4rem;
    height: 2rem;
    z-index: 110;
    display: none;
}

.pause-button::after,
.pause-button::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 2rem;
    background-color: #ffffff8e;
    margin-right: 5px;
}


/* game living background and cavas styles */

#thegame {
    background-size: cover;
    position: relative;
}

#thegame canvas {
    position: relative;
    z-index: 100;
}

#thegame::before,
#thegame::after,
.astrals,
.astrals::before,
.astrals::after {
    content: "";
    display:block;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 50;
}

#thegame::before {
    width: 100%;
    height: 78px;
    top: 12rem;
    left: -8rem;
    -webkit-animation: slide-right 130s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: slide-right 130s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

#thegame::after {
    width: 100%;
    height: 78px;
    top: 10rem;
    right: -15rem;
    -webkit-animation: slide-right 135s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: slide-right 135s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

.astrals {
    width: 100%;
    height: 78px;
    top: 6rem;
    left: 83px;
    z-index: 45;
    -webkit-animation: slide-right 585s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    animation: slide-right 585s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

.later .astrals {
    left: 125px;
}

.astrals::before {
    width: 100%;
    height: 78px;
    top: -3rem;
    left: -16rem;
    -webkit-animation: slide-right 45s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    animation: slide-right 45s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

.astrals::after {
    width: 100%;
    height: 78px;
    top: -3rem;
    left: -16rem;
    -webkit-animation: slide-right 55s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    animation: slide-right 55s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}


#thegame.morning  {
    background-image: url('../images/morning/Elementos-juego_dia.svg');
}

#thegame.morning::before {
    background-image: url('../images/morning/Elementos-juego_dia_nube1.svg'); 
    width: 50%;
    height: 12rem;
    top: 4rem;
    left: -2rem;
}
#thegame.morning::after {
    background-image: url('../images/morning/Elementos-juego_dia_nube2.svg');
    width: 50%;
    height: 12rem;
    top: 2rem;
    right: -4rem;
}
#thegame.morning .astrals {
    background-image: url('../images/morning/Elementos-juego_dia_sol.svg'); 
    width: 32rem;
    height: 32rem;
    top: -8rem;
    left: -8rem;
    background-size: cover;
}
#thegame.morning.later .astrals {
    left: -5rem;
}
#thegame.morning .astrals::before {
    background-image: url('../images/morning/Elementos-juego_dia_nube3.svg'); 
    top: 21rem;
    width: 50%;
    height: 11rem;
    left: 0rem;
}
#thegame.morning .astrals::after {
    background-image: url('../images/morning/Elementos-juego_dia_nube4.svg'); 
    top: 21rem;
    width: 50%;
    height: 11rem;
    right: -5rem;
    left: initial;
}


#thegame.afternoon {
    background-image: url('../images/afternoon/Elementos-juego_tardesita.svg');
}
#thegame.afternoon::before {
    background-image: url('../images/afternoon/Elementos-juego_tardesita_nube1.svg'); 
    width: 50%;
    height: 12rem;
    top: 4rem;
    left: -2rem;
}
#thegame.afternoon::after {
    background-image: url('../images/afternoon/Elementos-juego_tardesita_nube2.svg');
    width: 50%;
    height: 12rem;
    top: 2rem;
    right: -4rem;
}
#thegame.afternoon .astrals {
    background-image: url('../images/afternoon/Elementos-juego_tardesita_sol.svg'); 
    width: 32rem;
    height: 32rem;
    top: -4rem;
    left: -9rem;
    background-size: cover;
}
#thegame.afternoon.later .astrals {
    left: -5rem;
}
#thegame.afternoon .astrals::before {
    background-image: url('../images/afternoon/Elementos-juego_tardesita_nube3.svg'); 
    top: 18rem;
    width: 50%;
    height: 11rem;
    left: 0rem;
}


#thegame.evening {
    background-image: url('../images/evening/Elementos-juego_atardecer.svg');
}
#thegame.evening::before {
    background-image: url('../images/evening/Elementos-juego_atardecer_nube1.svg'); 
}
#thegame.evening::after {
    background-image: url('../images/evening/Elementos-juego_atardecer_nube2.svg');
}
#thegame.evening .astrals {
    background-image: url('../images/evening/Elementos-juego_atardecer_luna.svg'); 
}
#thegame.evening .astrals::before {
    background-image: url('../images/evening/Elementos-juego_atardecer_nube3.svg'); 
}


#thegame.night {
    background-image: url('../images/night/Elementos-juego_noche.svg');
}

#thegame.night::before {
    background-image: url('../images/night/Elementos-juego_noche_nube1.svg'); 
    width: 50%;
    height: 12rem;
    top: 4rem;
    left: -2rem;
}
#thegame.night::after {
    background-image: url('../images/night/Elementos-juego_noche_nube2.svg');
    width: 50%;
    height: 12rem;
    top: 2rem;
    right: -4rem;
}
#thegame.night .astrals {
    background-image: url('../images/night/Elementos-juego_noche_luna.svg'); 
    width: 8rem;
    height: 8rem;
    top: 2rem;
    left: 2rem;
    background-size: cover;
}
#thegame.night.later .astrals {
    left: 6rem;
}
#thegame.night .astrals::before {
    background-image: url('../images/night/Elementos-juego_noche_nube3.svg'); 
    top: 9rem;
    width: 17rem;
    height: 11rem;
    left: 0rem;
}
#thegame.night .astrals::after {
    background-image: url('../images/night/Elementos-juego_noche_nube4.svg'); 
    top: 21rem;
    width: 50%;
    height: 11rem;
    right: -9rem;
    left: initial;
}


/* animations */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(30px);
              transform: translateX(30px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(30px);
              transform: translateX(30px);
    }
  }
  